.modal{
    background-color:rgb(44, 40, 40);
    color: white;
    top: 45vh;
    left:31%;
    width:100%;
    max-width:30rem;
    margin: 2rem auto; 
    border-radius: 24px;
    position:absolute;
}
.p{
    padding-left:20px;
    padding-right:20px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align:justify;
}

@media screen and (max-width:700px) {
    .modal{
        max-width: 20rem;
        top:23vh;
        left: 8%;
    }
    
}

