.header{
    padding-right: 100px;
}

.header button{
    background-color: rgb(102, 19, 19);
    color:white;
    padding-right: 20px;
    padding-left:20px;
    border-radius:20px;
    padding-top:10px;
    padding-bottom: 10px;
    outline:none;
    border-color: transparent;
}

.label1{
    padding-right:10px;
    font-size: 14px;
    font-weight: bold;
}

.label2 {
    padding-left:10px;
    padding-right:10px;
    background-color: brown;
    padding-top: 5px;
    padding-bottom:5px;
    border-radius:15px;
    font-size:14px;
    font-weight: bold;
}

@media screen and (max-width:700px) {
    .header{
        padding-right: 20px;;
    }
}